# Xcode
#

## Build generated
build/
DerivedData/
mobile_sdk/
output_dir/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2
*.perspectivev3
!default.perspectivev3
.DS_Store
*/.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.tm_build_errors

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
#
Pods/
Podfile.lock
*.xcworkspace
